.container {
  width: 1200px;
  margin: auto;
  border: none;
  padding: 0;
  border: solid 3px black;
}

.first {
  height: 200px;
  background: blanchedalmond;
}

.second {
  background: #8fc6e6;
  display: flex;
}

.second-1 {
  width: 500px;
  height: 200px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.second-2 {
  width: 250px;
  height: 200px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.second-3 {
  width: 200px;
  height: 200px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}
.second-4 {
  width: 125px;
  height: 200px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.second-5 {
  width: 125px;
  height: 200px;
  border-top: 3px solid black;
}
.third {
  height: 200px;
  background: #0fd1d8;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.third > div {
  width: 250px;
  height: 100px;
  margin-top: 10px;
  margin-left: 70px;
  border: 3px solid black;
}

.forth {
  height: 200px;
  background: #07c088;
  display: flex;
}

.forth-1 {
  width: 550px;
  height: 200px;
  border-right: 3px solid black;
}
#first {
  width: 550px;
  height: 95px;
  border-bottom: 3px solid black;
}

#second {
  width: 550px;
  height: 105px;
  display: flex;
}

#second-1 {
  width: 250px;
  height: 105px;
  border-right: 3px solid black;
}

#second-2 {
  width: 125px;
  height: 105px;
  border-right: 3px solid black;
}

#second-3 {
  width: 85px;
  height: 105px;
  border-right: 3px solid black;
}

#col-1 {
  height: 50px;
  border-bottom: 3px solid black;
  display: flex;
}

#col-1 > div {
  width: 42px;
  height: 50px;
}

#col-1 > div:first-child {
  border-right: 3px solid black;
}

#col-2 {
  height: 30px;
  border-bottom: 3px solid black;
}

#col-3 {
  height: 19px;
  display: flex;
}

.col-3-child {
  width: 21px;
  height: 19px;
  border-right: 3px solid black;
}

#col-3 > .col-3-child:last-child {
  border-right: none;
}

#col-4 {
  display: flex;
}
#col-4 > div {
  width: 42px;
  height: 50px;
  border-right: 3px solid black;
}

#col-4 > div:last-child {
  border-right: none;
  display: flex;
}
#col-4 > div:last-child > div {
  width: 42px;
  height: 50px;
  border-right: 3px solid black;
}

#col-4 > div:last-child > div:last-child {
  border-right: none;
}

#col-4 > div:last-child > div:first-child > div {
  height: 10px;
  border-bottom: 3px solid black;
}
#col-4 > div:last-child > div:last-child > div {
  height: 10px;
  border-bottom: 3px solid black;
}
#second-4 {
  width: 85px;
  height: 105px;
}

.forth-2 {
  width: 500px;
  height: 200px;
  border-right: 3px solid black;
}

.forth-3 {
  width: 150px;
  height: 200px;
}

.last-div {
  height: 32px;
  border-bottom: 3px solid black;
  display: flex;
}
.forth-3 > .last-div:last-child {
  border: none;
}

.last-div > #first-part {
  width: 70px;
  border-right: 3px solid black;
}
.last-div > #second-part {
  display: flex;
}
.last-div > #second-part > div {
  width: 18px;
  height: 32px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.last-div > #first-part > div:first-child {
  width: 70px;
  height: 17px;
  border-bottom: 3px solid black;
}

#first-part > div {
  display: flex;
}

#first-part > div > div {
  width: 24px;
  border-right: 3px solid black;
}

#first-part > .last-part {
  display: flex;
}

#first-part > .last-part > div {
  width: 24px;
  height: 15px;
  border-right: 3px solid black;
}
