* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(./img/tim-mossholder-07uiqD9LS6U-unsplash.jpg);
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: #333;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.navMenu > li {
  position: relative;
  margin: 0 20px;
}

.navMenu > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  transition: color 0.3s ease;
}

.navMenu > li > a:hover {
  color: #f39c12;
}

.dropdown,
.dropdownSub {
  position: absolute;
  list-style: none;
  background-color: #444;
  margin-top: 10px;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.dropdown li,
.dropdownSub li {
  padding: 8px 20px;
}

.dropdown li a,
.dropdownSub li a {
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s ease;
}

.dropdown li a:hover,
.dropdownSub li a:hover {
  background-color: #f39c12;
}

.dropdown {
  top: 110%;
  left: 0;
}

.dropdownSub {
  top: 0;
  left: 100%;
}

.navMenu > li:hover .dropdown,
.dropdown li:hover .dropdownSub {
  opacity: 1;
  visibility: visible;
}
