/* General Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: #4caf50;
  margin-top: 30px;
}

/* Form container styling */
form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 48%;
  margin-top: 10px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}

fieldset {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

legend {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
}

input[type="color"] {
  width: 100%;
  height: 50px;

  border: 2px solid #ccc;
  border-radius: 5px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
}

/* Styling for checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  resize: vertical;
}

input[type="file"] {
  padding: 10px;
}

/* Responsive Styling */
@media (max-width: 768px) {
  form {
    width: 90%;
  }

  input[type="submit"],
  input[type="reset"] {
    width: 100%;
  }
}
