* {
  margin: 0;
  padding: 0;
}
.one {
  width: 25vw;
  height: 25vh;
  background: rgb(17, 223, 103);
  display: flex;
  justify-content: center;
  align-items: center;
}

.two {
  width: 10vw;
  height: 15vh;
  background-color: red;
  border-radius: 50%;
}
.three {
  width: 8vw;
  height: 15vh;
  background-color: rgb(17, 3, 3);
}
