h1 {
  color: red;
  background-color: gray;
}

a {
  color: aqua;
  background-color: black;
}

p {
  background-color: bisque;
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
}

p a {
  background-color: red;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: rgb(201, 201, 15);
  border: 0;
  padding: 20px;
  border-radius: 20px;
  color: wheat;
  font-size: 18px;
  font-weight: 900;
  font-family: "Poppins", serif;
}
