* {
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  height: 100vh;
  background-color: aquamarine;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 20%;
  height: 30%;
  position: relative;
  text-align: center;
}

.bg {
  height: 80%;
  background-color: green;
  display: flex;
}

.carcle {
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: red;
  margin: auto;
}

h1 {
  color: white;
  height: 20%;
  text-align: center;
  padding-top: 10px;
}

.card:hover .bg {
  background-color: white; /* Change background color on hover */
}

.card:hover h1::after {
  content: "Japan"; /* Display new text */
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 251, 251);
}

.card:hover h1 {
  color: transparent; /* Hide original text */
}
