* {
  margin: 0;
}
.one {
  width: 50%;
  height: 50vh;
  background-color: red;
  position: relative;
  margin: 10% auto;
}

.one::after {
  width: 50%;
  height: 50%;

  background-color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
}
