.container {
  width: 1200px;
  margin: auto;
  border: none;
  padding: 0;
  background: rgb(150, 150, 245);
}

div {
  border: solid 3px black;
  height: 200px;
  padding: 0;
  background: rgb(160, 142, 228);
}

.two,
.three,
.four {
  border-top: none;
}
.two {
  display: flex;
}
.col-1,
.col-2,
.col-3 {
  border: none;
}

.col-1 {
  border-right: 3px solid black;
  width: 550px;
  background: blue;
}

.col-2 {
  width: 500px;
  display: flex;
  border-right: 3px solid black;
  background: rgb(124, 124, 226);
}

.first,
.second {
  border: none;
  border-right: 3px solid black;
}

.first {
  width: 200px;
}

.second {
  width: 170px;
}

.third {
  width: 150px;
  border: none;
}

.three {
  display: flex;
  align-items: center;
}

.float {
  width: 250px;
  height: 100px;
  margin-top: 10px;
  margin-left: 100px;
}

.four {
  display: flex;
}

.row-1,
.row-2 {
  border: none;
  width: 550px;
  height: 100px;
  background: red;
}

.row-1 {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: flex-end;
}

.row-2 {
  border-bottom: 3px solid black;
  display: flex;
  justify-content: flex-end;
}

.ch {
  height: 100px;
  border: none;
}

.ch-1 {
  width: 150px;
  border-left: 3px solid black;
}

.ch-2 {
  width: 100px;
  border-left: 3px solid black;
}

.ch-3 {
  width: 100px;
  border-left: 3px solid black;
}

.ch-ro-1 {
  height: 40px;
  border-bottom: 3px solid black;
}
.ch-ro-2 {
  height: 35px;
  border-bottom: 3px solid black;
}
.ch-ro-3 {
  height: 20px;
  display: flex;
}

.ch-ro-3 > div {
  border: none;
  border-right: 3px solid black;
  width: 25px;
  height: 20px;
}

#exclude {
  border: none;
}

.ch3-ro-1 {
  border: none;
  border-bottom: 3px solid black;
  height: 40px;
}

.ch3-ro-2 {
  border: none;
  height: 57px;
}
