* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4fdff99;
}

/*================================
  common css start
  ================================*/

.container {
  width: 1410px;
  margin: 0 auto;
}

.box {
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.common-button {
  margin-top: 60px;
}
.common-button a {
  padding: 14px 28px;
  background-color: #8454f5;
  border-radius: 18px;
  font-family: "Open Sans", serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 0.4s;
  border: 1px solid transparent;
}

.common-button a:hover {
  background-color: transparent;
  color: #8454f5;
  border-color: #8454f5;
}
/* common css End */

/*================================
  Navbar part start
  ================================*/

nav {
  padding: 30px 0;
  position: relative;
  z-index: 2;
}
.logo-part {
  width: 20%;
}

.menu-part {
  width: 60%;
}

.button-part {
  width: 20%;
  text-align: right;
}

nav .menu-part .menu {
  display: flex;
  column-gap: 48px;
  justify-content: center;
}

nav .menu-part .menu li a {
  font-family: "Open Sans", serif;
  font-size: 18px;
  color: #29313d;
  font-weight: 600;
  transition: 0.4s;
}

nav .menu-part .menu li:hover:not(.submenu) a {
  color: #8454f5;
}

nav .menu-part .menu li a i {
  margin-left: 3px;
}

nav .button-part a {
  padding: 14px 28px;
  background-color: #8454f5;
  border-radius: 18px;
  font-family: "Open Sans", serif;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 0.4s;
  border: 1px solid transparent;
}

nav .button-part a:hover {
  background-color: transparent;
  color: #8454f5;
  border-color: #8454f5;
}
/*---------------nav submenu-------------*/
nav .menu-part .menu > li {
  position: relative;
}
/* nav .menu-part .menu li  */

.submenu {
  background-color: rgb(245, 242, 242);
  padding: 8px 0;
  position: absolute;
  top: 100%;
  left: -50%;
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  white-space: nowrap;
}
/* nav .menu-part .menu > */
li:hover > .submenu {
  opacity: 1;
  visibility: visible;
}
nav .menu-part ul li ul li {
  padding: 2px 10px;
}

/*---------------nav submenu--------*/

/*================================
  banner part start
  ================================*/
header {
  width: 1920px;
  height: 910px;
  margin: 0 auto;
}
#banner-box {
  width: 1840px;
  height: 595px;
  margin-top: 71px;
  margin-left: auto;
  display: flex;
  /* background-color: red; */
}

.hero-image-left {
  width: 513px;
  height: 475px;
  margin-left: 80px;
  position: relative;
  /* background-color: #00ff55; */
  z-index: 2;
}
.hero-image-left::after {
  content: "";
  /* background-image: url(../img/bannerLeft.png); */
  width: 220px;
  height: 380px;
  background-color: #e5f5d0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.hero-image-left img {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero-containt {
  width: 592px;
  height: 595px;
  position: relative;
  padding-left: 49px;
  /* background-color: aqua; */
  z-index: 2;
}
.hero-image-right {
  width: 655px;
  height: 587px;
  position: relative;
  /* background-color: #00ff55; */
}
.hero-image-right::after {
  content: "";
  width: 250px;
  height: 480px;
  position: absolute;
  top: 87px;
  right: 80px;
  background-color: #dee9ec;
  z-index: 1;
}

.hero-image-right::before {
  content: "";
  width: 585px;
  height: 183px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #dee9ec;

  z-index: 1;
}
.hero-image-right img {
  z-index: 2;
  position: absolute;
}

.banner h1 {
  width: 464px;
  font-size: 64px;
  font-weight: 900;
  color: #1d354f;
  font-family: "Open Sans", serif;
  margin-top: 60px;
}

.hero-containt p {
  width: 464px;
  font-size: 18px;
  font-weight: 400;
  color: #29313d;
  font-family: "Open Sans", serif;
  padding-top: 20px 60px;
}

.hero-middle-img {
  position: absolute;
  left: 21px;
  top: -50px;
}

/*================================
  banner part animation start
  ================================*/
/* Background imegas animation*/

svg {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
}
.animated-path {
  animation: changeColor 5s infinite ease-in-out;
}
@keyframes changeColor {
  0% {
    stroke: #6a55ea;
    opacity: 0.3;
  }
  25% {
    stroke: #55eaa4;
    opacity: 0.3;
  }
  50% {
    stroke: #eaa455;
    opacity: 0.3;
  }
  75% {
    stroke: #ea55c7;
    opacity: 0.3;
  }
  100% {
    stroke: #6a55ea;
    opacity: 0.3;
  }
}
