.container {
}

.row-1 {
  height: 100px;
  background: rgb(202, 176, 226);
}

.row-2 {
  height: 100px;
  display: flex;
}

.row-3 {
  height: 100px;
  background: rgb(160, 30, 117);
  display: flex;
}

.row-3-div {
  width: 250px;
  height: 75px;
  background: #d3a3a3;
  align-self: center;
  margin-left: 100px;
  margin-top: 10px;
}

.row-4 {
  height: 100px;
  background: rgb(231, 80, 20);
  display: flex;
}

.col-1 {
  width: 750px;
  height: 100px;
  background: rgb(228, 224, 223);
}

.col-2 {
  width: 750px;
  height: 100px;
  background: rgba(3, 160, 55, 0.377);
  display: flex;
}

.col-2-col-1 {
  width: 200px;
  height: 100px;
  background: rgb(219, 54, 13);
}

.col-2-col-2 {
  width: 140px;
  height: 100px;
  background: rgb(223, 215, 213);
}

.col-2-col-3 {
  width: 100px;
  height: 100px;
  background: rgb(111, 13, 192);
}

.row-4-col-1 {
  width: 450px;
  height: 100px;
  background: rgb(10, 30, 148);
}

.row-4-col-2 {
  width: 45%;
  height: 100px;
  background: rgb(188, 166, 206);
}

.row-4-col-1-row-1 {
  height: 50%;
  background: rgb(219, 54, 13);
}

.row-4-col-1-row-2 {
  height: 50%;
  background: rgb(226, 225, 224);
  display: flex;
}

.row-4-col-1-row-2-col-1 {
  width: 50%;
  height: 100%;
  background: #000;
}

.row-4-col-1-row-2-col-2 {
  width: 25%;
  height: 100%;
  background: #d3a3a3;
}

.row-4-col-1-row-2-col-3 {
  width: 25%;
  height: 100%;
  background: #ebdddd;
  display: flex;
}
.row-4-col-1-row-2-col-3-col-1 {
  width: 50%;
  height: 100%;
  background: #2e1414;
}
.row-4-col-1-row-2-col-3-col-1-row-1 {
  height: 50%;
  background: #e4c2c2;
}
.row-4-col-1-row-2-col-3-col-1-row-1-col-1 {
  width: 50%;
  height: 100%;
  background: #0ecfa5;
}
.row-4-col-1-row-2-col-3-col-1-row-2 {
  height: 25%;
  background: #ca2e2e;
}
.row-4-col-1-row-2-col-3-col-1-row-3 {
  height: 25%;
  background: #c7a8a8;
  display: flex;
}

.row-4-col-1-row-2-col-3-col-1-row-3-col-1 {
  width: 25%;
  height: 100%;
  background: #000;
}

.row-4-col-1-row-2-col-3-col-1-row-3-col-2 {
  width: 25%;
  height: 100%;
  background: #1613bb;
}

.row-4-col-1-row-2-col-3-col-1-row-3-col-3 {
  width: 25%;
  height: 100%;
  background: #c70f0f;
}
.row-4-col-1-row-2-col-3-col-2 {
  width: 50%;
  height: 100%;
  background: #c55050;
  display: flex;
  flex-wrap: wrap;
}
.row-4-col-1-row-2-col-3-col-2-col-1 {
  width: 50%;
  height: 50%;
  background: #c55050;
}

.row-4-col-1-row-2-col-3-col-2-col-2 {
  width: 50%;
  height: 50%;
  background: #410569;
}
.row-4-col-1-row-2-col-3-col-2-col-3 {
  width: 50%;
  height: 50%;
  background: #d1cbcb;
}

.row-4-col-1-row-2-col-3-col-2-col-4 {
  width: 50%;
  height: 50%;
  background: #0ca558;
  display: flex;
}

.row-4-col-1-row-2-col-3-col-2-col-4-col-1 {
  width: 100%;
  height: 100%;
  background: #046133;
}

.row-4-col-1-row-2-col-3-col-2-col-4-col-1-1 {
  width: 100%;
  height: 33.34%;
  background: #c1c9c5;
}

.row-4-col-1-row-2-col-3-col-2-col-4-col-1-2 {
  width: 100%;
  height: 33.34%;
  background: #054ab1;
}
.row-4-col-1-row-2-col-3-col-2-col-4-col-2 {
  width: 100%;
  height: 100%;
  background: #13c931;
}

.row-4-col-1-row-2-col-3-col-2-col-4-col-2-1 {
  width: 100%;
  height: 33.34%;
  background: #c1c9c5;
  margin-top: 37%;
}

.row-4-col-1-row-2-col-3-col-2-col-4-col-2-2 {
  width: 100%;
  height: 33.34%;
  background: #3e54d4;
}
.row-4-col-3 {
  width: 20%;
  height: 100px;
  background: #0a0101;
}
.row-4-col-3-row-1 {
  height: 16.67%;
  background: #752727;
}

.row-4-col-3-row-2 {
  height: 16.67%;
  background: #0ecfa5;
}

.row-4-col-3-row-3 {
  height: 16.67%;
  background: #9e2323;
}

.row-4-col-3-row-4 {
  height: 16.67%;
  background: #e01616;
}

.row-4-col-3-row-5 {
  height: 16.67%;
  background: #91098a;
  display: flex;
}

.row-4-col-3-row-5-col-1 {
  width: 14.29%;
  height: 100%;
  background: #752727;
}

.row-4-col-3-row-5-col-1-row-1 {
  height: 50%;
  background: #d8cfcf;
}

.row-4-col-3-row-5-col-2 {
  width: 14.29%;
  height: 100%;
  background: #e75858;
}

.row-4-col-3-row-5-col-2-row-1 {
  height: 50%;
  background: #4de407;
}

.row-4-col-3-row-5-col-3 {
  width: 14.29%;
  height: 100%;
  background: #dd0404;
}

.row-4-col-3-row-5-col-3-row-1 {
  height: 50%;
  background: #73168f;
}

.row-4-col-3-row-5-col-4 {
  width: 14.29%;
  height: 100%;
  background: #1cbb86;
}

.row-4-col-3-row-5-col-5 {
  width: 14.29%;
  height: 100%;
  background: #752727;
}

.row-4-col-3-row-5-col-6 {
  width: 14.29%;
  height: 100%;
  background: #dce9e7;
}
