.container {
  width: 1200px;
  margin: auto;
  border: 3px solid black;
}

.header {
  height: 200px;
  background: blanchedalmond;
}

.content {
  background: #8fc6e6;
  display: flex;
}

.content-box {
  height: 200px;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.box-large {
  width: 500px;
}

.box-medium {
  width: 250px;
}

.box-small {
  width: 200px;
}

.box-smaller {
  width: 125px;
}

.box-mini {
  width: 125px;
}

.middle-section {
  height: 200px;
  background: #0fd1d8;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.middle-box {
  width: 250px;
  height: 100px;
  margin-top: 10px;
  margin-left: 70px;
  border: 3px solid black;
}

.footer {
  height: 200px;
  background: #07c088;
  display: flex;
}

.footer-left {
  width: 550px;
  height: 200px;
  border-right: 3px solid black;
}

.footer-top {
  width: 550px;
  height: 95px;
  border-bottom: 3px solid black;
}

.footer-bottom {
  display: flex;
  width: 550px;
  height: 105px;
}

.footer-column {
  height: 105px;
  border-right: 3px solid black;
}

.column-large {
  width: 250px;
}

.column-medium {
  width: 125px;
}

.column-small {
  width: 85px;
}

.row {
  height: 50px;
  border-bottom: 3px solid black;
  display: flex;
}

.row-box {
  width: 42px;
  height: 50px;
}

.row-small {
  height: 30px;
  border-bottom: 3px solid black;
}

.grid {
  height: 19px;
  display: flex;
}

.grid-item {
  width: 21px;
  height: 19px;
  border-right: 3px solid black;
}

.column-extra-small {
  width: 85px;
}

.footer-center {
  width: 500px;
  height: 200px;
  border-right: 3px solid black;
}

.footer-right {
  width: 150px;
  height: 200px;
}

.row-section {
  height: 32px;
  border-bottom: 3px solid black;
  display: flex;
}

.split {
  width: 70px;
  border-right: 3px solid black;
}

.section-grid {
  display: flex;
}

.nested-row .nested-item {
  width: 42px;
  height: 10px;
  border-bottom: 3px solid black;
}
